/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Body and Font Styling */
body {
    background-color: black;
    background-image: linear-gradient(to bottom, black, #5f259f);
    font-family: 'UnifrakturMaguntia', cursive;
    color: #ff7518;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

/* Heading Style */
h1 {
    padding-bottom: 20px; /* Add padding underneath the heading */
}

/* Countdown display */
#countdown {
    font-size: 3em;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10;
}

/* Flash effect */
.flash-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0;
    transition: opacity 0.1s ease;
    z-index: 10;
    pointer-events: none;
}

/* Photobooth Area */
.photobooth {
    position: relative;
    width: 90vw;
    max-width: 400px;
    height: 50vh;
    max-height: 300px;
    margin-bottom: 40px; /* Increase this value for a wider gap */
}

video, canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Collage image display */
#collage {
    display: none;
    max-width: 55%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 10px;
}

/* Button Styling */
.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.controls button {
    background-color: #ff7518;
    color: white;
    font-size: 1.5rem; /* Increase font size for more appeal */
    font-family: 'Fredericka the Great', cursive; /* Change font to a more exciting style */
    border: none;
    padding: 15px; /* Increase padding for better touch targets */
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%; /* Increase the width of the Start Photobooth button */
    min-width: 200px; /* Minimum width for buttons */
}

.controls button:disabled {
    background-color: #888;
}

.controls button:hover:not(:disabled) {
    background-color: #ffa600;
}

/* Footer Style */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff7518;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}
