/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Body and Font Styling */
body {
    background-color: black;
    background-image: linear-gradient(to bottom, black, #5f259f);
    font-family: 'UnifrakturMaguntia', cursive;
    color: #ff7518;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

/* Countdown display */
#countdown {
    font-size: 3em;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10;
}

/* Flash effect */
.flash-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.8;
    transition: opacity 0.2s ease-out;
    z-index: 5;
    pointer-events: none;
}


/* Photobooth Area */
.photobooth {
    position: relative;
    width: 90vw;
    max-width: 400px;
    height: 50vh;
    max-height: 300px;
    margin-bottom: 15px;
}

video, canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}



/* Button Styling */
.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.controls button {
    background-color: #ff7518;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 30%;
    min-width: 100px;
}

.controls button:disabled {
    background-color: #888;
}

.controls button:hover:not(:disabled) {
    background-color: #ffa600;
}

/* Footer Style */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff7518;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}
